<html lang="en">
<head>
  <title>Branch Management</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
<style>
  input.ng-invalid.ng-dirty
  {

    border: 1px solid red;
  }
  table {
    table-layout: fixed;
    word-wrap: break-word;
}


  




</style>
<body  ng-app="MainDashBranch">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Branch Management </a>
    </div>
    <ul class="nav navbar-nav">
      
    </ul>
  </div>
</nav>
  
<div class="container" ng-controller="branchadd" ng-init="showbranch()">





  <h3>Branch Management</h3>
  <p>Add Your Branch Details here..</p><br><hr ><br>
  <div>

    <div class="row">
      
      <div class="col-sm-12" ng-hide="inserttask">
         
      <div class="alert alert-success">
  <strong>Success!</strong> Branch details has been inserted.
</div>

   


      </div>
    </div>

    <div class="row">
      
      <div class="col-sm-12" ng-hide="deletetask">
         
      <div class="alert alert-success">
  <strong>Success!</strong> Branch details has been deleted.
</div>

   


      </div>
    </div>



    <div class="row">
      
      <div class="col-sm-12" ng-hide="updatetask">
         
      <div class="alert alert-success">
  <strong>Success!</strong> Branch details has been Updated.
</div>

   


      </div>
    </div>



    <form name="branchform">
    <div class="row">
  <div class="col-sm-4"><input type="text" class="form-control" placeholder="Branch ID" ng-model="branchID" disabled ></div>
  
</div><br>

  <div class="row">
  <div class="col-sm-4"><input type="text" class="form-control" placeholder="Branch Name" ng-model="branchname" required ></div>
  <div class="col-sm-4"><input type="text" class="form-control" placeholder="Location" ng-model="location" required></div>
  <div class="col-sm-4"><input type="text" class="form-control" placeholder="PhoneNo" ng-model="phonenumber" required></div>
</div><br>

<div class="row">
  <div class="col-sm-4"><input type="text" class="form-control" placeholder="Address" ng-model="address" required></div>
  <div class="col-sm-4"><input type="email" class="form-control" placeholder="Email" ng-model="Email" required></div>
  <div class="col-sm-4"><input type="text" class="form-control" placeholder="Fax" ng-model="fax" required></div>
</div><br>

<div class="row">
  <div class="col-sm-4">


    <button type="button" class="btn btn-primary" ng-disabled="branchform.$invalid" ng-click="insertBranch()" ng-hide="addbtn">Add Branch</button>
    <button type="button" class="btn btn-primary"  ng-click="branchup2()" ng-hide="updatebtn">Update</button>
    <button type="button" class="btn btn-primary"  ng-click="clear()" ng-hide="updatebtn" >Cancel</button>



  </div>



  
</div><br>



</form>



<div class="row">
  
  <div class="col-sm-6"><input type="text" class="form-control" placeholder="Search Branch Details" ng-model="search" style="background: #34495E  ; color: white;" ></div>

</div><br>





<div class="row">
  <div class="col-sm-12">
    





    <table class="table table-bordered table-hover">
    <thead >
      <tr class="active">
        <th>Branch Id</th>
        <th>Branch Name</th>
        <th>Location</th>
        <th>Tel</th>
        <th>Address</th>
        <th>Email</th>
        <th>Fax</th>
        <th>Delete</th>
        <th>Update</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in names | filter:search">
        <td><small>{{ x.branchID }}</small></td>
        <td><small>{{ x.branchName }}</small></td>
        <td><small>{{ x.locations }}</small></td>
        <td><small>{{ x.phone }}</small></td>
        <td><small>{{ x.address }}</small></td>
        <td><small>{{ x.email }}</small></td>
        <td><small>{{ x.fax }}</small></td>
        <td><button type="button" class="btn btn-danger btn-xs" ng-click="deletebranch(x.branchID)">Delete</button></td>
        <td><button type="button" class="btn btn-success btn-xs" ng-click="updatebranch(x.branchID,x.branchName,x.locations,x.phone,x.address,x.email,x.fax )">Edit</button></td>
      </tr>
    </tbody>
  </table>
  </div>
  
</div>





</div>






</div>




<script>
 var app = angular.module("MainDashBranch", []);

app.controller("branchadd", function($scope,$http) {


  $scope.inserttask=true;
  $scope.deletetask=true;
  $scope.updatebtn=true;
  $scope.updatetask=true;

  $scope.insertBranch=function(){


    $scope.deletetask=true;
    $scope.updatetask=true;


                  $http.post("insertbranch.php", {
    'branchname':$scope.branchname,
    'location':$scope.location,
    'phonenumber':$scope.phonenumber,
    'address':$scope.address,
    'Email':$scope.Email,
    'fax':$scope.fax,
    


})        

  .then(function (response) {
   
    $scope.inserttask=false;


    $scope.showbranch();

    $scope.branchname="";
    $scope.location="";
    $scope.phonenumber="";
    $scope.address="";
    $scope.Email="";
    $scope.fax="";


});



  }

  $scope.showbranch=function(){

       $http.get("showbranch.php")
   .then(function (response) {$scope.names = response.data.records;});




  }



  $scope.deletebranch=function(branchID){

    $scope.inserttask=true;
    $scope.updatetask=true;

   if(confirm("Are you sure?")){


        
          $http.post("deletebranch.php", {
    'branchID':branchID,
  
    


})        

  .then(function (response) {
   
   
    $scope.showbranch();
    $scope.deletetask=false;

    


});


   }
   else{

    return false;
   }



  }




 $scope.updatebranch=function(branchID,branchName,locations,phone,address,email,fax){

            $scope.branchID=branchID;
            $scope.branchname=branchName;
    $scope.location=locations;
    $scope.phonenumber=phone;
    $scope.address=address;
    $scope.Email=email;
    $scope.fax=fax;
    $scope.updatebtn=false;
    $scope.addbtn=true;






 }


 $scope.clear=function(){


$scope.updatebtn=true;

$scope.addbtn=false;

$scope.branchID="";
$scope.branchname="";
    $scope.location="";
    $scope.phonenumber="";
    $scope.address="";
    $scope.Email="";
    $scope.fax="";





 }





 $scope.branchup2=function(){

   
     $http.post("updatebranch.php", {
      'branchID':$scope.branchID,
    'branchname':$scope.branchname,
    'location':$scope.location,
    'phonenumber':$scope.phonenumber,
    'address':$scope.address,
    'Email':$scope.Email,
    'fax':$scope.fax,
    


})        

  .then(function (response) {
   
    


    $scope.showbranch();

    $scope.updatebtn=true;
    $scope.addbtn=false;


    $scope.branchID="";
$scope.branchname="";
    $scope.location="";
    $scope.phonenumber="";
    $scope.address="";
    $scope.Email="";
    $scope.fax="";

    $scope.updatetask=false;




   


});






 }



})





</script>

</body>
</html>