<!DOCTYPE html>
<html ng-app="MainSupplierdir">
<head>
	<title>Supplier Directory</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
<body>


	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"> Suppliers Directory</a>
    </div>
    
  </div>
</nav>
  
<div class="container"  ng-controller="supplierdir" ng-init="show()">
  <h3>Supplier Directory</h3>
  <p>Search Your Suppliers details From here..</p><br><hr><br>


  <div class="row">
  	<div class="col-sm-12">
  		
  		<input type="text" class="form-control" placeholder="Search Suppliers Details" ng-model="searchsup" style="background: #34495E  ; color: white;" >
  	</div>


  </div><br><br>



  <div class="row">
  	<div class="col-sm-12">
  		
  		<table class="table table-bordered">
    <thead>
      <tr >
      	
      	<th>#Id</th>
      	<th>Supplier-ID</th>
        <th>Sup Name</th>
        <th> sup Distribute Address</th>
        <th>Sup Phone</th>
        <th>Branch</th>
        <th>CompanyID</th>
        <th>CompanyName</th>
        <th>DistributeAddress</th>
        <th>CompanyTel</th>
        <th>Product-ID</th>
        <th>ProName</th>
        <th>ItemName</th>
        <th>sizeAvailable</th>
        <th>Small</th>
        <th>Price</th>
        <th>Medium</th>
        <th>Price</th>
        <th>Large</th>
        <th>Price</th>
        <th>unitAvailable</th>
        <th>Small</th>
        <th>Unit</th>
        <th>Price</th>
        <th>Medium</th>
        <th>Unit</th>
        <th>Price</th>
        <th>Large</th>
        <th>Unit</th>
        <th>Price</th>

        <th>Other-Price</th>


      </tr>
    </thead>
    <tbody>
      <tr  ng-repeat="x in namesdir |filter:searchsup" >
      	

      	<td>{{x.id}}</td>
      	
        <td>{{x.supID}}</td>

        <td>{{x.supname}}</td>
        <td>{{x.supDA}}</td>
        <td>{{x.supPnum}}</td>
        <td>{{x.supBranch}}</td>
        <td>{{x.comID}}</td>
        <td>{{x.companyName}}</td>
        <td>{{x.DistributeAddress}}</td>
        <td>{{x.Tel}}</td>
        <td>{{x.proAID}}</td>
        <td>{{x.productName}}</td>
        <td>{{x.itemName}}</td>
        <td>{{x.sizeAvailable}}</td>
        <td>{{x.smallav}}</td>
        <td>{{x.priceavs}}</td>
        <td>{{x.mediumav}}</td>
        <td>{{x.priceavm}}</td>
        <td>{{x.largeav}}</td>
        <td>{{x.priceavl}}</td>
        <td>{{x.unitAvailable}}</td>
        <td>{{x.smallusa}}</td>
        <td>{{x.smallus}}</td>
        <td>{{x.smallup}}</td>
        <td>{{x.mediumuma}}</td>
        <td>{{x.medianus}}</td>
        <td>{{x.medianup}}</td>
        <td>{{x.largeusa}}</td>
        <td>{{x.largeus}}</td>
        <td>{{x.largeup}}</td>
        <td>{{x.otherprice}}</td>

        
      </tr>
      
    </tbody>
  </table>
  
  	</div>


  </div>


  
</div>

<script >
	
	var app = angular.module("MainSupplierdir", []);
	app.controller("supplierdir", function($scope,$http) {



     $scope.show=function(){


       $http.get("showsup.php")
   .then(function (response) {$scope.namesdir = response.data.records;});




     }






	})




</script>

</body>
</html>