<html lang="en">
<head>
  <title>Meal Management</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
<style>
  input.ng-invalid.ng-dirty
  {

    border: 1px solid red;
  }


  




</style>
<body  ng-app="MainDashBranch">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="../MainDashboard.html"><font size="5">PIXALOGY Solutions</font></a>
    </div>
    <ul class="nav navbar-nav">
      
    </ul>
  </div>
</nav>
  
<div class="container" ng-controller="branchadd" ng-init="showbranch()">





  <h3><b>Meal Management</b></h3><br>
  <div>

    <div class="row">
      
      <div class="col-sm-12" ng-hide="inserttask">
         
      <div class="alert alert-success">
  <strong>Success!</strong> Details has been inserted.
</div>

   


      </div>
    </div>

    <div class="row">
      
      <div class="col-sm-12" ng-hide="deletetask">
         
      <div class="alert alert-success">
  <strong>Success!</strong> Details has been deleted.
</div>

   


      </div>
    </div>



    <div class="row">
      
      <div class="col-sm-12" ng-hide="updatetask">
         
      <div class="alert alert-success">
  <strong>Success!</strong> Details has been Updated.
</div>

   


      </div>
    </div>



    <form name="branchform">
    <div class="row">
  <div class="col-sm-4"><input type="text" class="form-control" placeholder="Meal ID" ng-model="mealID" disabled ></div>
  
</div><br>

  <div class="row">
  <div class="col-sm-3"><input type="text" class="form-control" placeholder="Meal Name" ng-model="mealname" required ></div>
  <div class="col-sm-3"><input type="text" class="form-control" placeholder="Price" ng-model="price" required></div>
</div><br>

<br>

<div class="row">
  <div class="col-sm-4">


    <button type="button" class="btn btn-primary" ng-disabled="branchform.$invalid" ng-click="insertBranch()" ng-hide="addbtn">Add</button>
    <button type="button" class="btn btn-primary"  ng-click="branchup2()" ng-hide="updatebtn">Update</button>
    <button type="button" class="btn btn-primary"  ng-click="clear()" ng-hide="updatebtn" >Cancel</button>



  </div>



  
</div><br>



</form>



<div class="row">
  
  <div class="col-sm-6"><input type="text" class="form-control" placeholder="Search Meal Details" ng-model="search" style="background: #b2beb5  ; color: #696969; font-size:<b>18px"></div>

</div><br>





<div class="row">
  <div class="col-sm-12">
    





    <table class="table table-bordered table-hover">
    <thead >
      <tr class="active">
        <th>Meal ID</th>
        <th>Meal Name</th>
        <th>Price</th>
        <th>Delete</th>
        <th>Update</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in names | filter:search">
        <td>{{ x.mealID }}</td>
        <td>{{ x.mealname }}</td>
        <td>{{ x.price }}</td>
        <td><button type="button" class="btn btn-danger" ng-click="deletebranch(x.mealID)">Delete</button></td>
        <td><button type="button" class="btn btn-success" ng-click="updatebranch(x.mealID,x.mealname,x.price,x.phone,x.address,x.email,x.noemployee,x.manager )">Edit</button></td>
      </tr>
    </tbody>
  </table>
  </div>
  
</div>





</div>






</div>




<script>
 var app = angular.module("MainDashBranch", []);

app.controller("branchadd", function($scope,$http) {


  $scope.inserttask=true;
  $scope.deletetask=true;
  $scope.updatebtn=true;
  $scope.updatetask=true;

  $scope.insertBranch=function(){


    $scope.deletetask=true;
    $scope.updatetask=true;



                  $http.post("insertbranch.php", {
    'mealname':$scope.mealname,
    'price':$scope.price,
    


})        

  .then(function (response) {
   
    $scope.inserttask=false;


    $scope.showbranch();

    $scope.mealname="";
    $scope.price="";


});



  }

  $scope.showbranch=function(){

       $http.get("showbranch.php")
   .then(function (response) {$scope.names = response.data.records;});




  }



  $scope.deletebranch=function(mealID){

    $scope.inserttask=true;
    $scope.updatetask=true;

   if(confirm("Are you sure?")){


        
          $http.post("deletebranch.php", {
    'mealID':mealID,
  
    


})        

  .then(function (response) {
   
   
    $scope.showbranch();
    $scope.deletetask=false;

    


});


   }
   else{

    return false;
   }



  }




 $scope.updatebranch=function(mealID,mealname,price,phone,address,email,noemployee,manager){
  
            $scope.mealID=mealID;
            $scope.mealname=mealname;
    $scope.price=price;
    $scope.updatebtn=false;
    $scope.addbtn=true;
    







 }


 $scope.clear=function(){


$scope.updatebtn=true;

$scope.addbtn=false;

$scope.mealID="";
$scope.mealname="";
    $scope.price="";





 }





 $scope.branchup2=function(){

   
     $http.post("updatebranch.php", {
      'mealID':$scope.mealID,
    'mealname':$scope.mealname,
    'price':$scope.price,

    


})        

  .then(function (response) {
   
    


    $scope.showbranch();

    $scope.updatebtn=true;
    $scope.addbtn=false;


    $scope.mealID="";
$scope.mealname="";
    $scope.price="";

    $scope.updatetask=false;




   


});






 }



})





</script>

</body>
</html>